
.newProduct {
  flex: 4;
//   position: relative;
//   background: #E4E9F7;
//   min-height: 100vh;
//   top: 30px;
//   left: 48px;
//   width: calc(100% - 78px);
//   transition: all 0.5s ease;
//   z-index: 2;
//   .sidebar.open ~ .newProduct{
//     left: 250px;
//     width: calc(100% - 250px);
//   }
}

.newProduct-top{
  display: flex;
  .back-icon {
    align-self: center;
    color: #11101d;
    cursor: pointer;
    margin: 15px;
  }
  .addProductTitle {
    color: #11101d;
    font-size: 28px;
    font-weight: 700;
    margin: 18px;
  }
}

.addProductForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.addProductItem {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 20px;
  color: #11101d;
}

.addProductItem > label {
  color: #11101d;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
  border: none;
}

.addProductItem > select {
  padding: 10px;
  border: none;
  background-color: white;
}

// .addProductButton {
//   // height: 10px;
//   // margin-top: 10px;
//   padding: 10px 16px;
//   // border: none;
//   // border-radius: 10px;
//   // background-color: darkblue;
//   // color: white;
//   // font-weight: 600;
//   // cursor: pointer;
//   // align-self: center;
//   width: 100px;
//   background-color: #1d1b31;
//   border: none;
//   outline: none;
//   height: 49px;
//   border-radius: 49px;
//   color: #fff;
//   text-transform: uppercase;
//   font-weight: 600;
//   cursor: pointer;
// }
.addUploadButton {
  height: 90px;
  border: none;
  cursor: pointer;
  align-self: center;
}
.addCreateButton {
  height: 36px;
  margin-top: 10px;
  padding: 5px 25px;
  border: none;
  border-radius: 40px;
  background-color: green;
  color: white;
  cursor: pointer;
  align-self: center;
}
