.documentList{
    flex: 4;
}

.documentListItem{
    display: flex;
    align-items: center;
}

.documentListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.documentListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.documentListDelete{
    color: red;
    cursor: pointer;
}