@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
    width: 100vw;
    height: 100vh;
    background: #f8f9fa;
    position: absolute;
  
    .top {
      width: 10px;
    }
    .container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
  
      form {
        width: 385px;
        height: 634px;
        right: 100px;
        top: 150px;
        position: absolute;
        padding: 30px;
        border-radius: 25px;
        background-color: #FFFFFF;
        box-sizing: border-box;
        box-shadow: 5px 5px 5px rgba(141, 141, 141, 0.51);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        

        .wrapper {
          display: flex;
          align-items: center;
          flex-direction: column;
          //align-items: center;
         //justify-content: space-between;
    
          .logo {
            height: 120px;
          }
        }
        
        h1 {
          font-size: 36px;
          color: #343a40;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
        h2 {
          font-size: 20px;
          color: #343a40;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
        small {
          color: #343a40;
        }

        input {
          height: 36px;
          border-radius: 5px;
          border: none;
          background-color: #f8f9fa;
          color: #343a40;
          padding-left: 30px;
          padding-right: 30px;
  
          &::placeholder {
            color: #343a40;
          }
        }
  
        button {
          height: 36px;
          width: 120px;
          //right: 125px;
          //top: 565px;
          //position: absolute;
          border-radius: 5px;
          background-color: #e3342f;
          color: white;
          border: none;
          font-size: 14px;
          font-weight: 400;
          cursor: pointer;
        }
  
        span {
          font-size: 16px;
          color:#343a40;
          b {
            color: #e3342f;
          }
        }
      }
    }
  }
  
.bg-image-left {
  position: absolute;
  left: 200px;
  top: 250px;
  zoom: 1.2;
  .slogan {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    color: #343a40;
  }
}
