.aboutus {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .aboutus-container {
      position: relative;
      width: 100%;
      background-color: #E4E9F7;
      min-height: 100vh;
      overflow: hidden;
  
      .aboutus-top {
        display: flex;
        position: relative;
        width: 24%;
        padding: 6px;
        margin: 5%;
        background-color: #1d1b31;
        border-radius: 45px;
        justify-content: baseline;
        .aboutus-img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          object-fit: cover;
          align-self: center;
          margin-left: 5px;
          margin-right: 15px;
        }
          
        .aboutus-title {
          color: #fff;
          font-weight: 500;
          font-size: 20px;
        }
    
      }
    }
  }
  