@import "../../app.scss";

.navbar {
  width: 100%;
  // color: rgb(255, 255, 255);
  color: rgb(251, 56, 56);
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  // background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.3) 50%);
  background-color: white;

  &.scrolled {
    background-color: var(--main-color);
  }

  .container_navbar {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;

      img {
        height: 48px;
        margin-right: 40px;

        @include mobile {
          display: none;
        }
      }

      span {
        margin-right: 20px;
        cursor: pointer;

        @include tablet {
          display: none;
        }

        &.navbarmainLinks {
          @include tablet {
            display: block;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .icon {
        margin: 0px 15px;
        cursor: pointer;
      }
      .search {
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        padding: 3px;
  
        input {
          border: none;
          outline: none;
          background: transparent;
  
          &::placeholder {
            font-size: 12px;
          }
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          // background-color: var(--main-color);
          background-color: white;
          border-radius: 5px;

        }

        span {
          padding: 10px;
          display: flex;
          cursor: pointer;

          .icon-drop {
            margin: 0px 0px;
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }

        
        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
          
        }
      }
    }
  }
}
